@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-left {
  animation: slide-left 5s linear infinite;
}
